include README.md
include LICENSE
include requirements.txt
recursive-include trustbit_barcode/public *
recursive-include trustbit_barcode/templates *
recursive-include trustbit_barcode *.json
recursive-include trustbit_barcode *.py
recursive-include trustbit_barcode *.js
recursive-include trustbit_barcode *.css
recursive-include trustbit_barcode *.html
recursive-include trustbit_barcode *.md
